<!DOCTYPE html>
<html data-bs-theme="light" lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Gestion de reservas</title>
    <link rel="stylesheet" href="{{ url_for('assets', path='/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('assets', path='/css/Navbar-Right-Links-icons.css')}}">
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bezier">
                        <path fill-rule="evenodd" d="M0 10.5A1.5 1.5 0 0 1 1.5 9h1A1.5 1.5 0 0 1 4 10.5v1A1.5 1.5 0 0 1 2.5 13h-1A1.5 1.5 0 0 1 0 11.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm10.5.5A1.5 1.5 0 0 1 13.5 9h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5v-1zm1.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM6 4.5A1.5 1.5 0 0 1 7.5 3h1A1.5 1.5 0 0 1 10 4.5v1A1.5 1.5 0 0 1 8.5 7h-1A1.5 1.5 0 0 1 6 5.5v-1zM7.5 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"></path>
                        <path d="M6 4.5H1.866a1 1 0 1 0 0 1h2.668A6.517 6.517 0 0 0 1.814 9H2.5c.123 0 .244.015.358.043a5.517 5.517 0 0 1 3.185-3.185A1.503 1.503 0 0 1 6 5.5v-1zm3.957 1.358A1.5 1.5 0 0 0 10 5.5v-1h4.134a1 1 0 1 1 0 1h-2.668a6.517 6.517 0 0 1 2.72 3.5H13.5c-.123 0-.243.015-.358.043a5.517 5.517 0 0 0-3.185-3.185z"></path>
                    </svg></span><span>Brand</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/travelerform">Parte de viajeros</a></li>
                    <li class="nav-item"><a class="nav-link" href="/travelers">Viajeros</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">
                <div class="col col-md-8">
                    <div class="card mb-5">
                        <div class="card-body p-sm-5">
                            <h2 class="text-center mb-4">DATOS DE VIAJERO</h2>
                            <form id="data-form" action="http://localhost:8000/traveler" method="POST" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="date-in">Fecha de entrada</label></div>
                                        <div class="col"><input class="form-control" id="date-in" type="date" name="date_in" required=""></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="nacion">Nacionalidad</label></div>
                                        <div class="col"><select class="form-select" id="nacion" name="country" required="">
                                                <option value="" selected="">-- Nacionalidad --</option>
                                            </select></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="document">Documento</label></div>
                                        <div class="col"><select class="form-select" id="document" name="doc_type" required="">
                                                <option value="" selected="">-- Tipo Documento --</option>
                                                <option value="D">DNI</option>
                                                <option value="P">Pasaporte</option>
                                                <option value="C">Permiso de conducir</option>
                                                <option value="N">Permiso de residencia español</option>
                                                <option value="X">Permiso de residencia EU</option>
                                                <option value="I">Carta o documento de identidad</option>
                                            </select></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="docnumber">Número de documento</label></div>
                                        <div class="col"><input class="form-control" type="text" id="docnumber" name="doc_number" required=""></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="expedate">Fecha de expedición</label></div>
                                        <div class="col"><input class="form-control" id="expedate" type="date" name="date_expedition" required=""></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="name">Nombre</label></div>
                                        <div class="col"><input class="form-control" type="text" id="name" name="traveler_name" required=""></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="firstname">Primer Apellido</label></div>
                                        <div class="col"><input class="form-control" type="text" id="firstname" name="traveler_surname" required=""></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="secondname">Segundo Apellido</label></div>
                                        <div class="col"><input class="form-control" type="text" id="secondname" name="traveler_second_surname"></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="sexo">Sexo</label></div>
                                        <div class="col"><select class="form-select" id="sexo" name="gender" required="">
                                                <option value="" selected="">-- Sexo --</option>
                                                <option value="M">Masculino</option>
                                                <option value="F">Femenino</option>
                                            </select></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="row">
                                        <div class="col col-md-4"><label class="col-form-label" for="borndate">Fecha de nacimiento</label></div>
                                        <div class="col"><input class="form-control" id="borndate" type="date" name="born_date" required=""></div>
                                    </div>
                                </div>
                                <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('assets', path='/bootstrap/js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('assets', path='/js/country.js')}}"></script>
</body>

</html>